.container{
  height: 100vh;
  width: 100vw;
  background-image: url("./images/homeimage.png");
  /* opacity: 0.9; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: inherit;
  /* background-size: 100% 100%; */
}
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 10px 250px;
}
.navleft{
  display: flex;
  color: black;
align-items: center;
  justify-content: space-evenly;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 50%;
}
.navright{
  display: flex;
  justify-content: space-evenly;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  align-items: center;
  color: black;
  width: 50%;
}
.navmid a{
  margin: 0 10px;
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-weight: bold;

  text-decoration: none;
}
.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 29px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 200px;
}
.btn{
  padding: 10px 20px;
  margin-top: 60px;
  font-weight: bold;
  font-size: 18px;
  background: none;
  border: 1px solid rgb(255, 255, 255);
  color: white;
  border-radius: 5px;
}