.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 250px;
    background-color: white;
    position: fixed;
    width: -webkit-fill-available;
  }
.navbar a{
    text-decoration: none;
    color: black;
}
.navleft{
    display: flex;
    color: black;
  align-items: center;
    justify-content: space-evenly;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 50%;
  }
.navright{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    color: black;
    width: 50%;
  }
.navmid a{
    margin: 0 10px;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: bold;
    text-decoration:none;
}